asgiref==3.7.2
click==8.1.7
Django==3.2.16
djangorestframework==3.14.0
Faker==12.0.1
flake8==5.0.4
isort==5.13.2
mixer==7.2.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
Pillow==9.5.0
platformdirs==4.1.0
pytest==7.1.3
pytest-django==4.5.2
pytest-lazy-fixture==0.6.3
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sorl-thumbnail==12.6.3
sqlparse==0.4.4
