<div class="card mb-3 mt-1 shadow-sm">
    {% load thumbnail %}
    {% thumbnail doctor.avatar "960x960" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <div class="card-body">
        <p class="card-text">
            <a name="doctor_{{ doctor.id }}" href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                <strong class="d-block text-gray-dark">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</strong>
            </a>
            {% for specialization in doctor.specializations.all %}
                {{ specialization.title|linebreaksbr }}
            {% endfor %}
        </p>
        <p class="card-text">
            Ваша запись: {{ schedule.start_time_strftime }} - {{ schedule.end_time_strftime }}
        </p>
        <p class="card-text">
            {% if schedule.feedback %}
                {{ schedule.feedback }}
            {% endif %}
        </p>
        <p class="card-text">
            {% if schedule.is_complete %}
                Ваша запись окончена, вы можете <a href="{% url 'add_comment' doctor_id=doctor.id %}">оставить отзыв</a>
            {% endif %}
        </p>
        <div class="row" style="padding-left: 15px;">
            <ul class="nav">
                <li class="nav-item">
                    Рейтинг:
                </li>
                {% load user_filters %}
                {% for i in doctor.rating|create_range %}
                    <li class="nav-item" style="margin-top: -1px; padding-left: 3px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <small class="text-muted">{{ doctor.employment_date }}</small>
    </div>
</div>
